*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
    
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,500&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    
}

.hero{
    background-image: radial-gradient(circle at 32% 12%, rgba(229, 229, 229,0.05) 0%, rgba(229, 229, 229,0.05) 50%,rgba(101, 101, 101,0.05) 50%, rgba(101, 101, 101,0.05) 100%),radial-gradient(circle at 49% 59%, rgba(113, 113, 113,0.05) 0%, rgba(113, 113, 113,0.05) 50%,rgba(240, 240, 240,0.05) 50%, rgba(240, 240, 240,0.05) 100%),radial-gradient(circle at 16% 86%, rgba(118, 118, 118,0.05) 0%, rgba(118, 118, 118,0.05) 50%,rgba(207, 207, 207,0.05) 50%, rgba(207, 207, 207,0.05) 100%),linear-gradient(252deg, rgb(125, 187, 226),rgb(1,137,255));
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    border-radius: 0 0 20px 20px;
    }



.logo{
    display:inline-block;
    width: 85px;
    height: 85px;
    cursor: pointer;
    margin-right: auto;
    padding: 5px;
    
}

.logo img{
    height: 60px;
    transition: all 0.3s;
    }  
    
.logo img:hover{
    transform: scale(1.2);
}   


.nav-header {
    list-style: none;
    
}

.nav-header li{
    display: inline-block;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px 20px;
}

.nav-header li a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    
}

.nav-header li a:hover{
    color: rgb(0, 79, 124);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.container h1{
    font-size: 35px;
    text-decoration: underline rgb(80, 80, 82);

}

.contenedor-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 25px;
}

.card{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(98, 105, 116);
    margin-top: 20px;
    width: 60%;
    height: 200px;
    text-align: center;
}

.card h3{
    border-radius: 10px;
}
.card p{
    padding: 25px;
    font-size: 18px;
}

.card1 h3{
    background-color: rgb(173, 156, 60);
}

.card2 h3{
    background-color: rgb(110, 109, 109);
}

.card3 h3{
    background-color:rgb(37, 67, 197);
}

.card4 h3{
    background-color: rgb(170, 35, 35);
}


.pie{
    width: 100%;
    padding: 50px;
    background-color: rgb(40, 40, 49);
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.mapa{
    width: 200px;
    height: 160px; 
}
    
.titulo-foot-mapa{
    text-decoration:underline;
    font-size: 24px;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}
    
.titulo-foot-ico{
    font-size: 24px;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-decoration:underline;
}  
    
.lista-foot{
    padding: 10px;
    list-style: none;
}
    
.lista-foot li{
    margin-bottom: 15px;
}   
    
.lista-foot li a{
    color: #2aa2a7;
    font-size: 18px;
    text-decoration: none;
}     
    
.titulo-contenido-foot{
    font-size: 24px;
    color: #ffffff;
    padding: 10px;
    text-decoration:underline;
    text-align: center;
}    
    
    
.fa-brands{
    font-size: 40px;
    border-radius: 0px;
    text-decoration: none;
    list-style: none;
    color: #35ace4;
    padding: 5px;
}


.btn-foot img{
    position: absolute;
    text-decoration: none;
    background-color:rgb(6, 115, 129);
    border: solid 2px rgb(6, 115, 129);
    border-radius: 90px;
    width: 40px;
    height: 40px;
    right: 20px;
    margin: -15px 5px;
}

.copy{
    background-color: rgb(40, 40, 49);
    color: #ffffff;
    font-size: 16px;
    height: 40px;
    text-align:left;
    padding: 10px;
}

